title = "Movie single"
url = "/films/film/:slug"
layout = "default"
is_hidden = 0

==
<?php

use Grcote7\Movies\Models\Movie;

function onStart(){
    $this['movie'] = Movie::where('slug','=',$this->param('slug'))->first();
}
?>
==

<p><a href="/films"><-- Retour</a></p>

{% if movie %}


<h3>Acteurs principaux</h3>

{{actors}}
{% for actor in movie.actors %}
{{ actor.name }} {{ actor.lastname }}<br>
{% endfor %}

<h3>Autres acteurs</h3>
{% for actor in movie.other_actors %}
{{ actor.actor_name }} ({{ actor.actor_age }} ans)<br>
{% endfor %}


{% if movie.genres|length %}
<h3>Genres</h3>
{% for genre in movie.genres %}
<a href="/genres/{{ genre.slug }}">{{ genre.genre_title }}</a><br>
{% endfor %}
{% endif %}


<h1>{{ movie.name}}</h1>


<img src="{{ movie.poster.thumb(200,auto) }}"/>

<h4>{{ movie.year }}</h4>


{% if movie.movie_gallery|length %}

<h3>Gallerie</h3>

<ul class="gallery clearfix">
    {% for image in movie.movie_gallery %}
    <li>
        <a href="{{ image.path }}">
            <img src="{{ image.thumb(80,80,{'mode':'crop'}) }}"/>
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}


<h3>Description</h3>

{{ movie.description|raw }}

{% else %}
<h3>Pas de film trouvé</h3>
{% endif %}

