==
<header class="main-header">
    <div class="container clearfix">
        <h1 class="logo">October Films</h1>

        <nav class="main-nav">
            <ul>
                <li class="{% if this.page.id == 'homepage' %} active {% endif %}"><a href="{{ 'homepage'|page }}">Accueil</a>
                </li>
                <li class="{% if (this.page.id == 'films') or (this.page.id == 'movie-single') %} active {% endif %}"><a
                        href="{{ 'films'|page }}">Films</a>
                </li>
            </ul>
        </nav>
    </div>

</header>